.app-logo-header{
    display: flex;
  }
  .app-logo-header.navbar.fixed-top{
    background: #023047 !important;
    z-index: 1000;
    height: 55px;
  }
  .app-nav-margin {
    margin-left: 35.5px
  }
  .mt-0 {
    margin-top: 0;
  }